@CHARSET "UTF-8";
body{margin:0;background-color:#FFFBE2}header,div,span,section,article,aside{overflow:hidden}fieldset{border:none;margin:0;padding:0}
label,button{cursor:pointer;outline:none}a{text-decoration:none}a:visited{color:inherit}
input[type="checkbox"]{display:none}
.universe {
	overflow:hidden;
	margin:0 auto;
	background-color:white;
}

.box {
	display:block;
	float:left;
}

.hide {
	display:none;
}

.txt_small{font-size:small}
.txt_big{font-size:x-large}

.fl_L{float:left}
.fl_R{float:right}