@charset "UTF-8";
/* 프레임(헤더) */
.secondary-line {
	height:45px;
	line-height:45px;
	padding:0 30px;
	background-color:#FFC000
}
	.secondary-line .wrapper {
		margin-right:15px;
	}
		.bookmark-btn::before {
			display:inline-block;
			content:'';
			width:20px;
			height:20px;
			vertical-align:middle;
			margin-right:5px;
			background-image:url('img/btn/checkbox.png');
		}
			#bookmark:checked ~ .bookmark-btn::before {
				background-position:-20px 0;
			}
		.coupon-img {
			vertical-align:middle;
			margin-right:5px;
		}
/* 프레임(바디) */
.page-body {
	overflow:hidden;
	padding:10px 30px;
}
/* 메인 */
.contents {
	float:right;
	width:755px;
}
	.head-line {
		overflow:hidden;
		margin-bottom:5px;
	}
		.entry,.open-closed,.summary,.service-type{float:left}
		.entry {
			width:120px;
			text-align:center;
		}
			.shop-name {
				font-size:25px;
				font-weight:bold;
				word-break:keep-all;
				margin-bottom:5px;
			}
			.gpa {
				width:120px;
				height:24px;
				background:url(img/icon/star-blank.png) repeat-x;
			}
				.gpa-img {
					display:block;
					width:0%;
					height:24px;
					background:url(img/icon/star-full.png) repeat-x;
				}
		.open-closed {
			width:50px;
			color:#45B3F2;
			font-size:14px;
			font-weight:bold;
			text-align:center;
			margin:0 50px 0 10px;
		}
			.open-txt {
				color:#34ABEF;
			}
			.closed-txt {
				color:#EF5434;
			}
		.summary {
			width:320px;
			font-size:16px;
			margin-right:10px;
		}
				.summary-info {
					margin-bottom:10px;
					background:beige;
				}
		.service-type {
			width:195px;
			overflow:hidden;
		}
			.service-type .vertical-line_L {
				float:left;
				width:85px;
				text-align:center;
			}
			.service-type .vertical-line_R {
				float:left;
				width:110px;
				text-align:center;
			}
	.banner {
		height:200px;
		margin-bottom:10px;
		background:url(img/bg/banner.png) no-repeat;
		background-size:contain;
	}
	.menu-line {
		overflow:hidden;
		margin-bottom:10px;
	}
		.menu {
			float:left;
			width:490px;
		}
			.menu-category {
				border-bottom:1px solid #4A7EBB;
				margin-bottom:5px;
			}
				.menu-category * {
					display:inline-block;
					margin-right:30px;
				}
				.menu-category li {
					cursor:pointer;
					padding:3px;
				}
				.selected {
					color:white;
					border-radius:10px;
					background-color:#4A7EBB;
					font-weight:normal !important;
				}
				.menu-category li:hover {
					font-weight:bold;
				}
			.top-menu {
				border-bottom:1px solid #4A7EBB;
				margin-bottom:5px;
			}
				.top-menu .wrapper {
					position:relative;
					top:-20px;
					width:100px;
					text-align:center;
				}
					.menu-img {
						margin-right:5px;
					}
			.menu-list {
				height:125px;
				overflow:hidden;
				padding:0 10px;
			}
				.tab-container {
					position:relative;
					height:125px;
				}
				.menu-list .wrapper {
					overflow:hidden;
					float:left;
					width:215px;
					margin-bottom:5px;
				}
				.space {
					float:left;
					width:40px;
					height:20px;
				}
					.menu-name {
						float:left;
					}
					.price {
						float:right;
					}
				.view-btn {
					position:absolute;
					bottom:0;
					left:225px;
					border:none;
					border-radius:10px;
					opacity:0.7;
				}
					.view-img {
						width:40px;
						height:40px;
						background:url(img/btn/direction.png) 0 -40px no-repeat;
					}
				.view-btn:hover {
					opacity:1;
				}
				
		.location {
			float:right;
			width:250px;
		}
			.loc-txt {
				font-size:12px;
			}
			#map {
				width:250px;
				height:250px;
				margin-top:5px;
			}
/* 사이드 */
.support {
	float:left;
	width:255px;
}
	.hits {
		font-size:15px;
		font-weight:bold;
		margin-bottom:40px;
	}
	.linked {
		display:inline-block;
		width:32px;
		height:32px;
		background-image:url('img/icon/sns.png');
	}
	
		.facebook {
			background-position:0 0;
		}
		.instagram {
			background-position:-32px 0;
		}
		.twitter {
			background-position:-64px 0;
		}
	.photo {
		position:relative;
		margin-bottom:10px;
	}
		.sub-photo {
			height:50px;
		}
			.sub-photo img {
				display:block;
				float:left;
				width:51px;
				height:50px;
			}
		.slide-btn {
			position:absolute;
			top:70px;
			display:block;
			width:40px;
			height:40px;
		}
		.pre {
			left:0;
			opacity:0.2;
			background:url(img/btn/direction.png) -40px 0;
		}
		.next {
			right:0;
			opacity:0.2;
			background:url(img/btn/direction.png);
		}
		.slide-btn:hover {
			opacity:1;
		}
	.shop-info {
		margin-bottom:10px;
	}
		.add-info {
			margin:4px 0;
		}
			.info-img {
				width:32px;
				height:32px;
			}
	.employment {
	}
		.publish {
			opacity:0.5;
		}