<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Menuns">
	<resultMap id="menuResult" 		type="menu">
		<result property="it_name" 		column="it_name" />
		<result property="it_id" 		column="it_id" />
		<result property="it_price" 	column="it_price" />
		<result property="it_cont" 		column="it_cont" />
		<result property="it_img1"		column="it_img1" /> 
		<result property="it_img1" 		column="it_img1" />
		<result property="it_img1" 		column="it_img1" />
		<result property="it_top3"		column="it_top3" /> 
		<result property="sh_id"		column="sh_id" /> 		
		<result property="it_groupId"	column="it_groupId" /> 
	</resultMap>
	
		

	<insert id="insert" parameterType="menu">
		<selectKey keyProperty="it_id" order="BEFORE" resultType="int">
			select ifnull(max(it_id), 0)+1  it_id from menu
		</selectKey>
			insert into menu values(#{it_id}, #{it_name},  
			#{it_price}, #{it_cont},  #{it_img3}, #{it_img2}, #{it_img1},
			#{it_top3},  #{sh_id}, #{it_groupId})
	</insert>
	
	<select id="select"  parameterType="int" resultType="menu">
		select * from menu where it_id = 
		(select ifnull(max(it_id), 0) from menu where sh_id =#{sh_id})
	</select>
	<!-- <!-- 아직 구동 x  -->
	<select id="select2" parameterType="int" resultType="menu">
		select * from shop where it_id = #{it_id}
	</select> -->
	
	<select id="list" parameterType="menu" resultMap="menuResult">
		select * from menu where it_group=#{it_group} and sh_id=#{sh_id} order by it_id
	</select>
	
	<select id="selectShid" parameterType="int" resultType="int">
		select ifnull(sh_id,0) sh_id from menu where it_id = #{it_id}
	</select>
	
	
	<delete id="delete" parameterType="int">
		delete from menu where it_id = #{it_id}
	</delete>
	
	<update id="update" parameterType="menu">
		update menu set it_name=#{it_name}, it_price=#{it_price},it_cont=#{it_cont} where it_id=#{it_id}
	</update>
</mapper>